name: Rust

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - name: Report rust version
      run: |
        rustc -vV
        rustup update
        rustc -vV

    - uses: actions/checkout@v6
    - name: Check format
      run: cargo fmt --check
    - name: Clippy version
      run: cargo clippy --version
    - name: Check clippy
      run: cargo clippy -- --deny warnings
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: list
      run: ls -l target/release

    - name: Linux binary
      uses: actions/upload-artifact@v6
      with:
        name: rustatic-linux-release
        path: target/release/rustatic

  build-macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v6
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: list
      run: ls -l target/release

    - name: macOS binary
      uses: actions/upload-artifact@v6
      with:
        name: rustatic-macos-release
        path: target/release/rustatic

  build-windows:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
    - name: Build
      run: cargo build --release --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: list
      run: ls -l target/release

    - name: MS Windows binary
      uses: actions/upload-artifact@v6
      with:
        name: rustatic-windows-release
        path: target/release/rustatic.exe

  release:
    needs: [build-linux, build-macos, build-windows]
    runs-on: ubuntu-latest

    steps:
    - name: MS Windows binary
      uses: actions/download-artifact@v7
      with:
        name: rustatic-windows-release
        path: release/rustatic.exe

    - name: Linux binary
      uses: actions/download-artifact@v7
      with:
        name: rustatic-linux-release
        path: release/rustatic-linux

    - name: macOS binary
      uses: actions/download-artifact@v7
      with:
        name: rustatic-macos-release
        path: release/rustatic-macos

    - name: Release
      uses: fnkr/github-action-ghr@v1
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GHR_COMPRESS: zip
        GHR_PATH: release
        GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}


